

body {
  background-color:   #fff0dd;
  font-family: "antipasto";
}

@font-face {
    font-family: "antipasto";
    src: url("fonts/antipastopro-demibold-webfont.woff");

}

.onload-images {
  display: none;

}

p {
  font-size: 13px;
}

h1 {
  text-align: right;
  color:  white;
  font-size: 50px;
}

h4 {
  display: inline;
}

#playback-controls {
  text-align: center;
}

#playback-controls button {
  padding: 10px;
}

.inst-button {
    background-color: #4CAF50;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 20px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
}

.inst-title {
  align-self: center;
  justify-self: left;
}

.button-row {
  min-width: 940px;
}

.kick {
  background-color: #9c83e8;
}

.snare {
  background-color: #ff6666;
}

.openhat {
  background-color:  #00e6ac;
}

.closedhat {
  background-color:  #4db8ff;
}

.buttons {
  margin-left: 159px;
  margin-top: 32px;
}

.button-wrapper {
  min-height: 25px;
  width: 560px;
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: 10px repeat(16, 1fr)
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}

.wrapper {

  height: 563px;
  width: 1000px;
  background: url('https://cdn.rawgit.com/slowbeam/469e2095801331d379f5589548aa7880/raw/601c003cdb1f6ca9ae7cd90f133cb6da89da5134/beat-machine-bkg.svg');
  background-repeat: no-repeat;
  background-position: center;
}


#app-title {
  visibility: hidden;
  padding-top: 85px;
  padding-right: 258px;
  padding-bottom: 0px;
}

.status-light {
    width: 25px;
    height: 25px;
    background: url('https://cdn.rawgit.com/slowbeam/d24f18e09a0bd0841a4a8e77b010182e/raw/595663586e59a71cdbb1d37135a2364281e84df4/beat-machine-status-light.svg');
    background-size: 25px 25px;
    background-repeat: no-repeat;

}

.status-light-lit {
    width: 25px;
    height: 25px;
    background: url('https://cdn.rawgit.com/slowbeam/3add235538db3ef5449617450db0b2f8/raw/5a49bcf27c6b03372e352cd2e19c7c49c6eed86f/beat-machine-status-light-lit.svg');
    background-size: 25px 25px;
    background-repeat: no-repeat;

}

.svg-button {
  box-sizing: border-box;
}

.magenta-button {
  min-height: 48px;
  min-width: 25px;
  background: url('https://cdn.rawgit.com/slowbeam/145b3136f9561d64197aee694bd1eb58/raw/4f63f7ee459748ab4856211b5310ce5f4cd0ea96/beat-machine-button-magenta-dark.svg');
  background-size: 25px 48px;
  background-repeat: no-repeat;
}

.magenta-button-lit {
  min-height: 48px;
  min-width: 25px;
  background: url('https://cdn.rawgit.com/slowbeam/b67b642c55fcf85c712acf3c0e8086d6/raw/06c70e119d475cfe1282822f5bb31548e58f714d/beat-machine-button-magenta-lit.svg');
  background-size: 25px 48px;
  background-repeat: no-repeat;
}

.purple-button {
  min-height: 48px;
  min-width: 25px;
  background: url('https://cdn.rawgit.com/slowbeam/349027d691475d1949a325fed9bd3e0d/raw/d74499d7827b0105e6b666187811e2f9172469b7/beat-machine-button-purple-dark.svg');
  background-size: 25px 48px;
  background-repeat: no-repeat;
}

.purple-button-lit {
  min-height: 48px;
  min-width: 25px;
  background: url('https://cdn.rawgit.com/slowbeam/de32046165d9f881ebe0cf29e45e2bb2/raw/d57af59b6531ce1afa30c58d2397fe2da1494db9/beat-machine-button-purple-lit.svg');
  background-size: 25px 48px;
  background-repeat: no-repeat;
}

.green-button {
  min-height: 48px;
  min-width: 25px;
  background: url('https://cdn.rawgit.com/slowbeam/b1d34d910463890fb0d650b250ce96d4/raw/7dac543f449230aee255baffae3e72d34f84ede1/beat-machine-button-green-dark.svg');
  background-size: 25px 48px;
  background-repeat: no-repeat;
}

.green-button-lit {
  min-height: 48px;
  min-width: 25px;
  background: url('https://cdn.rawgit.com/slowbeam/830e378cdbb06c6c089919944422887e/raw/a428c007751c099b81ced63fb27af7934cc4fb30/beat-machine-button-green-lit.svg');
  background-size: 25px 48px;
  background-repeat: no-repeat;
}

.blue-button {
  min-height: 48px;
  min-width: 25px;
  background: url('https://cdn.rawgit.com/slowbeam/08465a6e2279024a53f4fa9a50f595ae/raw/90684825fb262548a44b7294390f3b8ee58f381b/beat-machine-button-blue-dark.svg');
  background-size: 25px 48px;
  background-repeat: no-repeat;
}

.blue-button-lit {
  min-height: 45px;
  min-width: 23px;
  background: url('https://cdn.rawgit.com/slowbeam/dc52705dd6587ef92c6f47bcf6947214/raw/a41f702c7e208e49caa2e331155209bc1200c3ab/beat-machine-button-blue-lit.svg');
  background-size: 25px 48px;
  background-repeat: no-repeat;
}


.control-panel-container {
  margin-top: 53px;
  width: 100%;
  display: flex;
  justify-content: center;

}

.control-buttons {

  margin-left: -10px;
  width: 340px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.play-button {

  height: 50px;
  width: 50px;
  background: url('https://cdn.rawgit.com/slowbeam/e5849c45da5827229d1e29ee8b30f436/raw/45c19f1bd65ed1f1cdc3a8a99b6f86c420b385fa/beat-machine-button-play.svg');
  background-repeat: no-repeat;
  background-position: center;

}

.play-button-lit {

  height: 50px;
  width:50px;
  background: url('https://cdn.rawgit.com/slowbeam/1c8ec0ef10c5329924a9d8fbd2e7a0f0/raw/c65cd1523ff316b2065535093fe43e0e10847811/beat-machine-button-play-lit.svg');
  background-repeat: no-repeat;
  background-position: center;

}

.stop-button {

  height: 50px;
  width:50px;
  background: url('https://cdn.rawgit.com/slowbeam/12f779711cf2d1c7389bdeaf7071e1c6/raw/a7c852c42c1a77ea89660369fea841794f04899e/beat-machine-button-stop.svg');
  background-repeat: no-repeat;
  background-position: center;

}

.stop-button-lit {

  height: 50px;
  width:50px;
  background: url('https://cdn.rawgit.com/slowbeam/4c17d46adca1d718ddf9db4763107588/raw/c72c274dc3a3cc30e2b8f5e3028e6bd463450e20/beat-machine-button-stop-lit.svg');
  background-repeat: no-repeat;
  background-position: center;

}

.tempo-up-button {
  height: 14px;
  width: 50px;
  background: url('https://cdn.rawgit.com/slowbeam/3ca405160bb843ea619204bad350bbf1/raw/003b5c7c3ec9973eaa7779e4d0cc5531cd2c0381/beat-machine-tempo-up.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.tempo-up-button-lit {
  height: 14px;
  width: 50px;
  background: url('https://cdn.rawgit.com/slowbeam/9bdaf36930b51821036c9319d2770da5/raw/5beee8bb959fb0adf1761bc71be81f244e68ff1e/beat-machine-button-tempo-up-lit.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.tempo-down-button {
  height: 14px;
  width: 50px;
  background: url('https://cdn.rawgit.com/slowbeam/454b5ad300c06e46e634464ef97f634e/raw/d41919300bfe57472c29f533b09beb3bf294b576/beat-machine-button-tempo-down.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.tempo-down-button-lit {


  height: 14px;
  width: 50px;
  background: url('https://cdn.rawgit.com/slowbeam/99bf6ced0e7590e04535bd0844f026c4/raw/5fb2cffe754f6928f3cdbfefc0dd5633cd276abe/beat-machine-button-tempo-down-lit.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.shuffle-up-button {


  height: 14px;
  width: 50px;
  background: url('https://cdn.rawgit.com/slowbeam/3ca405160bb843ea619204bad350bbf1/raw/003b5c7c3ec9973eaa7779e4d0cc5531cd2c0381/beat-machine-tempo-up.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.shuffle-up-button-lit {


  height: 14px;
  width: 50px;
  background: url('https://cdn.rawgit.com/slowbeam/9bdaf36930b51821036c9319d2770da5/raw/5beee8bb959fb0adf1761bc71be81f244e68ff1e/beat-machine-button-tempo-up-lit.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


.shuffle-down-button {

  height: 14px;
  width: 50px;
  background: url('https://cdn.rawgit.com/slowbeam/454b5ad300c06e46e634464ef97f634e/raw/d41919300bfe57472c29f533b09beb3bf294b576/beat-machine-button-tempo-down.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.shuffle-down-button-lit {

  height: 14px;
  width: 50px;
  background: url('https://cdn.rawgit.com/slowbeam/99bf6ced0e7590e04535bd0844f026c4/raw/5fb2cffe754f6928f3cdbfefc0dd5633cd276abe/beat-machine-button-tempo-down-lit.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.tempo-container {
  height: 35px;
  width: 110px;
  align-self: center;

}

.shuffle-container {
  height: 35px;
  width: 110px;
  align-self: center;
}

.tempo {

  display: flex;
  margin-top: 20px
  height: 50px;
  width: 115px;
  align-content: center;
  justify-content: space-around;
}

.tempo-up-down {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.shuffle {

  display: flex;
  margin-top: 20px
  height: 68px;
  width: 115px;
  align-content: center;
  justify-content: space-around;
}

.shuffle-up-down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.digital-screen {

       display: inline-block;
       background-color: Black;
       border-radius: 10px;
       margin-left: 5px;
   }

.save-container {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.save-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 800px;
  margin-left: -20px;
  background: url('https://cdn.rawgit.com/slowbeam/f5efaf96b7b53c8165c4635a6eb71e61/raw/5dbcee163f0a45b96c20e4b794c14107e2b4162c/beat-machine-save-area.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.form-container {
  margin-top: 45px;
  width: 600px;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.drumkit-select-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input[type=submit] {
  width: 85px;
  height: 35px;
  font-family: "antipasto";
  font-size: 17px;
  background: url('https://cdn.rawgit.com/slowbeam/b5d114d94b8f579bf06d54a5ff294c99/raw/7c692a182dd6acde6ae16b6b842848e125f8f0e0/beat-machine-button-wide.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  color: white;
  transition: .1s;
  transform: scale(1);

}

input[type=submit]:hover {
  transition: .1s;
  transform: scale(1.02);
}

#clear-button {
      width:85px;
      height: 35px;
      font-family: "antipasto";
      font-size: 17px;
      background: url('https://cdn.rawgit.com/slowbeam/b5d114d94b8f579bf06d54a5ff294c99/raw/7c692a182dd6acde6ae16b6b842848e125f8f0e0/beat-machine-button-wide.svg');
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      color: white;
      transition: .1s;
      transform: scale(1);
}

#clear-button:hover {
  transition: .1s;
  transform: scale(1.02);
}


input[type="text"]{
    font-family: "antipasto";
    font-size: 17px;
    width: 200px;
    height: 22px;
    color: #7676a2;
    background-color: #efeff4;
}

.new-beat-form-container {
  text-align: center;
}

.beat-selector-container {
  text-align: center;
}

select {
  font-family: "antipasto";
  font-size: 17px;
  height: 22px;
  background-color:  #efeff4;
  color: #7676a2;
}

.drumkit-load-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 185px;
  margin-top: -130px;
}

form.new-form {
  margin-left: -15px;

}
